<div class="inline vine">
	<iframe class="vine-embed" src="https://vine.co/v/{{id}}/embed/simple" width="320" height="320" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
</div>