div.modal {

	border: #ddd 1px solid;
	box-shadow: 0 15px 40px rgba( 0, 0, 0, 0.15 );

	> form {

		margin-bottom: 0;

	}

}

label {

	font-weight: bold;

}

.form-horizontal {

	.control-label {

		width: 135px;

	}

	.controls {

		margin-left: 150px;

	}

}