#channel {

	div.info {

		margin-top: 10px;
		padding: 8px 10px 8px 18px;
		border-top: rgb( 255, 255, 255 ) 1px solid;
		background: rgb( 247, 247, 247 );
		box-shadow: 0px 0px 5px 0px rgba( 0, 0, 0, 0.1 );

	}

}