div.channels {

	> ul.list {

		list-style-type: none;
		margin: 0;
		padding: 4px 0 0 0;

		> li {

			position: relative;
			padding: 8px;

			&.active {

				background: rgb( 240, 240, 240 );

			}

			&.unread {

				span.unread {

					display: inline-block;
					position: absolute;
					top: 15px;
					right: 35px;

				}

			}

			span.unread {

				display: none;

			}

			a.part {

				position: absolute;
				top: 15px;
				right: 10px;
				font-size: 24px;

			}

		}

	}

}