div.channels {

	h3 {
		font-size: 14px;
		font-weight: 500;
	}

	> ul.list {

		list-style-type: none;
		margin: 0;
		padding: 0;

		> li {
			border-radius: 5px 0 0 5px;
			float: right;
			position: relative;
			width: 95%;

			a {
				color: hsl(197, 26%, 74%);
				display: block;
				padding: 5px 10px;
			}


			&.active {

				background: #FFF;
				-webkit-box-shadow: inset 0 1px 0 hsla(0, 100%, 100%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.05);
				
				a {
					color: hsl(197, 26%, 50%);
				}

			}

			&.unread {

				span.unread {
					background: hsl(197, 26%, 65%);
					border-radius: 50px;
					display: inline-block;
					position: absolute;
					top: 13px;
					right: 45px;

				}

			}

			span.unread {

				display: none;

			}

			a:hover {

				text-decoration: none;
				color: hsl(197, 26%, 50%);

			}

			a.part {

				position: absolute;
				top: 4px;
				right: 10px;
				font-size: 24px;

			}

		}

	}

}