div.channels {

	> ul.list {

		list-style-type: none;
		margin: 0;
		padding: 0;

		> li {

			position: relative;

			&.active {

				background: rgb( 230, 230, 230 );

			}

			&.unread {

				span.unread {

					display: inline-block;
					position: absolute;
					top: 10px;
					right: 35px;

				}

			}

			&:hover {

				a.part {

					opacity: 1;

				}

			}

			> a.name {

				display: block;
				padding: 8px 28px 8px 12px;

				&:hover {

					background: rgb( 250, 250, 250 );

				}

			}

			h5 {

				margin: 0;

			}

			span.unread {

				display: none;

			}

			a:hover {

				text-decoration: none;
				color: rgb(44, 163, 223);

			}

		}

	}

}