#channel {

	div.info {
		color: hsl(197, 26%, 70%);
		font-size: 13px;
		line-height: 14px;
		padding: 12px 0;

		strong {
			color: hsl(197, 26%, 65%);
			font-size: 28px;
			display: inline-block;
			margin-right: 10px;
			margin-top: 4px;
	
		}

		.topic {

		}

	}

}