$color1 = rgb(222,65,50)
$color2 = rgb(166,195,64)
$color3 = rgb(165,100,222)
$color4 = rgb(68,180,157)
$color5 = rgb(85,170,198)
$color6 = rgb(97,210,61)
$color7 = rgb(218,71,208)
$color8 = rgb(109,109,153)
$color9 = rgb(97,209,126)
$color10 = rgb(214,145,209)
$color11 = rgb(218,179,60)
$color12 = rgb(86,136,60)
$color13 = rgb(197,95,81)
$color14 = rgb(222,55,122)
$color15 = rgb(134,158,222)
$color16 = rgb(174,82,160)
$color17 = rgb(148,115,41)
$color18 = rgb(193,96,127)
$color19 = rgb(107,117,217)

.user1 { color: $color1; }
.user2 { color: $color2; }
.user3 { color: $color3; }
.user4 { color: $color4; }
.user5 { color: $color5; }
.user6 { color: $color6; }
.user7 { color: $color7; }
.user8 { color: $color8; }
.user9 { color: $color9; }
.user10 { color: $color10; }
.user11 { color: $color11; }
.user12 { color: $color12; }
.user13 { color: $color13; }
.user14 { color: $color14; }
.user15 { color: $color15; }
.user16 { color: $color16; }
.user17 { color: $color17; }
.user18 { color: $color18; }
.user19 { color: $color19; }

.user1:hover { color: darken( $color1, 20% ) }
.user2:hover { color: darken( $color2, 20% ) }
.user3:hover { color: darken( $color3, 20% ) }
.user4:hover { color: darken( $color4, 20% ) }
.user5:hover { color: darken( $color5, 20% ) }
.user6:hover { color: darken( $color6, 20% ) }
.user7:hover { color: darken( $color7, 20% ) }
.user8:hover { color: darken( $color8, 20% ) }
.user9:hover { color: darken( $color9, 20% ) }
.user10:hover { color: darken( $color10, 20% ) }
.user11:hover { color: darken( $color11, 20% ) }
.user12:hover { color: darken( $color12, 20% ) }
.user13:hover { color: darken( $color13, 20% ) }
.user14:hover { color: darken( $color14, 20% ) }
.user15:hover { color: darken( $color15, 20% ) }
.user16:hover { color: darken( $color16, 20% ) }
.user17:hover { color: darken( $color17, 20% ) }
.user18:hover { color: darken( $color18, 20% ) }
.user19:hover { color: darken( $color19, 20% ) }