$color1 = rgb(166,108,27)
$color2 = rgb(145,117,235)
$color3 = rgb(68,182,40)
$color4 = rgb(227,51,117)
$color5 = rgb(65,148,200)
$color6 = rgb(228,71,39)
$color7 = rgb(65,134,62)
$color8 = rgb(166,95,165)
$color9 = rgb(227,95,220)
$color10 = rgb(174,158,28)
$color11 = rgb(213,84,92)
$color12 = rgb(112,113,172)
$color13 = rgb(129,170,37)
$color14 = rgb(227,119,33)
$color15 = rgb(68,189,96)
$color16 = rgb(188,80,120)
$color17 = rgb(218,65,167)
$color18 = rgb(163,136,219)
$color19 = rgb(88,119,217)
$color20 = rgb(197,94,48)
$color21 = rgb(218,129,217)
$color22 = rgb(126,125,25)
$color23 = rgb(71,137,27)
$color24 = rgb(102,150,228)
$color25 = rgb(214,145,39)
$color26 = rgb(228,97,162)
$color27 = rgb(228,69,71)
$color28 = rgb(178,102,210)
$color29 = rgb(101,176,64)
$color30 = rgb(47,161,85)

.user1 { color: $color1; }
.user2 { color: $color2; }
.user3 { color: $color3; }
.user4 { color: $color4; }
.user5 { color: $color5; }
.user6 { color: $color6; }
.user7 { color: $color7; }
.user8 { color: $color8; }
.user9 { color: $color9; }
.user10 { color: $color10; }
.user11 { color: $color11; }
.user12 { color: $color12; }
.user13 { color: $color13; }
.user14 { color: $color14; }
.user15 { color: $color15; }
.user16 { color: $color16; }
.user17 { color: $color17; }
.user18 { color: $color18; }
.user19 { color: $color19; }
.user20 { color: $color20; }
.user21 { color: $color21; }
.user22 { color: $color22; }
.user23 { color: $color23; }
.user24 { color: $color24; }
.user25 { color: $color25; }
.user26 { color: $color26; }
.user27 { color: $color27; }
.user28 { color: $color28; }
.user29 { color: $color29; }
.user30 { color: $color30; }

.user1:hover { color: darken( $color1, 20% ) }
.user2:hover { color: darken( $color2, 20% ) }
.user3:hover { color: darken( $color3, 20% ) }
.user4:hover { color: darken( $color4, 20% ) }
.user5:hover { color: darken( $color5, 20% ) }
.user6:hover { color: darken( $color6, 20% ) }
.user7:hover { color: darken( $color7, 20% ) }
.user8:hover { color: darken( $color8, 20% ) }
.user9:hover { color: darken( $color9, 20% ) }
.user10:hover { color: darken( $color20, 20% ) }
.user11:hover { color: darken( $color11, 20% ) }
.user12:hover { color: darken( $color12, 20% ) }
.user13:hover { color: darken( $color13, 20% ) }
.user14:hover { color: darken( $color14, 20% ) }
.user15:hover { color: darken( $color15, 20% ) }
.user16:hover { color: darken( $color16, 20% ) }
.user17:hover { color: darken( $color17, 20% ) }
.user18:hover { color: darken( $color18, 20% ) }
.user19:hover { color: darken( $color19, 20% ) }
.user20:hover { color: darken( $color20, 20% ) }
.user21:hover { color: darken( $color21, 20% ) }
.user22:hover { color: darken( $color22, 20% ) }
.user23:hover { color: darken( $color23, 20% ) }
.user24:hover { color: darken( $color24, 20% ) }
.user25:hover { color: darken( $color25, 20% ) }
.user26:hover { color: darken( $color26, 20% ) }
.user27:hover { color: darken( $color27, 20% ) }
.user28:hover { color: darken( $color28, 20% ) }
.user29:hover { color: darken( $color29, 20% ) }
.user30:hover { color: darken( $color30, 20% ) }