#connections {

	background: rgb( 30, 35, 40 );
	color: rgb(215, 230, 241);

	> ul.list {

		list-style-type: none;
		margin: 10px 0 0 0;

		> li {

			div.info {

				padding: 0 10px;

			}

			h3 {

				margin: 0;
				line-height: 34px;

			}

			a.disconnect {

				position: absolute;
				right: 10px;
				font-size: 20px;

			}

		}

	}

}