#connections {

	background: rgb( 50, 50, 50 );
	color: rgb( 230, 230, 230 );

	> ul.list {

		list-style-type: none;
		margin: 0;
		padding: 7px 0 0 13px;

		> li {

			h3 {

				margin: 0;
				line-height: 34px;

			}

		}

	}

}