#connections {

	button[name="new_connection"] {

		margin-left: 10px;

	}

	> ul.list {

		list-style-type: none;
		margin: 7px 0 0 0;
		padding: 0;

		> li {

			position: relative;
			margin-bottom: 10px;

			&:hover {

				a.disconnect {

					opacity: 1;

				}

			}

			div.info {

				padding: 8px 24px 8px 12px;

			}

			h3 {

				margin: 0;
				line-height: 34px;

			}

			a.part,
			a.disconnect {

				display: inline-block;
				opacity: 0.75;
				position: absolute;
				border: #ccc 1px solid;
				border-radius: 5px;
				top: 7px;
				right: 10px;
				width: 20px;
				height: 20px;
				font: 24px/23px arial, sans-serif;
				text-align: center;
				vertical-align: middle;
				color: rgb( 150, 150, 150 );

				&:hover {

					color: rgb( 210, 70, 70 );

				}

			}

		}

	}

}