$left_bar_width = 250px;
$right_bar_width = 200px;
$channel_title_height = 41px;
$new_message_height = 41px;

@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,100italic,100,300italic,400italic,500,500italic,700,700italic,900,900italic');

body {

	background: rgb( 250, 250, 250 );

}

h1, h2, h3, h4, h5, h6, legend {

	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}

#connections {

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: $left_bar_width;

}

#channel {

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: $left_bar_width;

	div.info {

		margin-right: $right_bar_width;

		h2 {

			display: inline-block;

		}

		sub.topic {

			bottom: 0;

		}

	}

	div.messages {

		position: absolute;
		top: $channel_title_height;
		right: $right_bar_width;
		bottom: 0;
		left: 0;

		ul.list {

			list-style: none;
			overflow: auto;
			position: absolute
			top: 0;
			right: 0;
			bottom: $new_message_height;
			left: 0;
			margin: 0;
			padding: 0;

		}

		form.new {

			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: $new_message_height;
			margin: 0;
			padding: 0;

		}

	}

	div.users {

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: $right_bar_width;

	}

}