$left_bar_width = 18%;
$right_bar_width = 18%;
$channel_title_height = 41px;
$new_message_height = 50px;

@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,100italic,100,300italic,400italic,500,500italic,700,700italic,900,900italic');

.fadein, :focus, a {
  -webkit-transition: all, 0.3s, ease-in-out;
}

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
background-color: #e2eaed;
background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(196, 23%, 91%)), to(hsl(197, 26%, 78%)));
background-image: -webkit-linear-gradient(top, hsl(196, 23%, 91%), hsl(197, 26%, 78%));
background-image: -moz-linear-gradient(top, hsl(196, 23%, 91%), hsl(197, 26%, 78%));
background-image: linear-gradient(top, hsl(196, 23%, 91%), hsl(197, 26%, 78%));

}

h1, h2, h3, h4, h5, h6, legend {

	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}

#connections {

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: $left_bar_width;

}

#channel {

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: $left_bar_width;

	div.info {

		margin-right: $right_bar_width;
		height: $new_message_height;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;

		h2 {

			display: inline-block;

		}

		sub.topic {

			bottom: 0;

		}
	}

	div.messages {

		position: absolute;
		top: 0;
		right: $right_bar_width;
		bottom: 0;
		left: 0;

		ul.list {

			list-style: none;
			overflow: auto;
			position: absolute
			top: $new_message_height;
			right: 0;
			bottom: $new_message_height;
			left: 0;
			margin: 0;
			//padding: 0;

			.topic {
				display: none; // Show "set by" here if we can.
			}

		}

		form.new {

			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: $new_message_height;
			margin: 0;
			padding: 0;

			textarea {
				height: $new_message_height;
			}

		}

	}

	div.users {

		position: absolute;
		top: $new_message_height;
		right: 0;
		bottom: 0; //$new_message_height;
		width: $right_bar_width;

	}

}