div.messages {

	ul.list {

		> li {

			&.message {

				margin: 8px 0;
				padding: 7px 13px;
				border-top: rgb( 250,250,250 ) 1px solid;
				border-right: rgb( 235,235,235 ) 1px solid;
				border-left: rgb( 235,235,235 ) 1px solid;
				border-bottom: rgb( 225,225,225 ) 1px solid;
				border-radius: 4px;
				background: #fff;
				box-shadow: 0px 1px 0px rgba( 0, 0, 0, 0.15 );

				ul.contents {

					list-style-type: none;
					margin: 0;
					padding: 0;

				}

			}

			var.timestamp {

				opacity: 0.5;
				float: right;
				font-size: 12px;
				font-style: normal;

			}

		}

	}

}