#notifications {

	position: absolute;
	top: 15px;
	left: 50%;
	width: 400px;
	margin-left: -200px;

	ul {

		list-style-type: none;
		margin: 0;
		padding: 0;

		> li {

			margin: 0;
			padding: 0;

			> div.alert {

				box-shadow: 0px 2px 5px 0px rgba( 0, 0, 0, 0.1 );

			}

		}

	}

}