<li>
	<a class="name" href="{{display_name}}">
		<h5>{{#private_channel}}<i class="icon-comment"></i> {{/private_channel}}{{display_name}}</h5>
		<span class="unread badge badge-info">0</span>
	</a>
	{{^status}}<a class="part" href="#part">&times;</a>{{/status}}
</li>