<div class="connecting">Connecting <i class="icon-refresh icon-spin"></i></div>
<div class="connected">Connected</div>
<div class="connect_failed">Connection Failed</div>
<div class="reconnecting">Reconnecting <i class="icon-refresh icon-spin"></i></div>
<div class="reconnected">Reconnected</div>
<div class="reconnect_failed">Reconnect Failed</div>
<div class="disconnected"><strong>Disconnected.</strong> Try refreshing the page.</div>