<!DOCTYPE html>
<html>
<head>

	<title>relay.js</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/compiled/styles.css" />

	{{#livereload}}<script src="http://localhost:35729/livereload.js"></script>{{/livereload}}
	<script>{{{javascript}}}</script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/compiled/scripts.js"></script>

</head>
<body>

	<div id="connect"></div>

	<div id="application">
		<div id="logo">
			<h1>relay.js</h1>
			<sub title="alpha">α</sub>
		</div>
		<div id="connections"></div>
		<div id="channel"></div>
		<div id="connection_status">
			<div class="connecting">Connecting</div>
			<div class="connected">Connected</div>
			<div class="connect_failed">Connection Failed</div>
			<div class="reconnecting">Reconnecting</div>
			<div class="reconnected">Reconnected</div>
			<div class="reconnect_failed">Reconnect Failed</div>
			<div class="disconnected"><strong>Disconnected.</strong> Try refreshing the page.</div>
		</div>
	</div>

</body>
</html>